
<div class="master-container">
  <div class="container-fluid">
    <h1><a href="#" class="reset-link-style">Технологии и жизнь</a></h1>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="spacer-xs spacer-sm"></div>
        <div class="spacer-xs spacer-sm"></div>
        <p>Интернет радио-программа (нынче называют <b>подкаст</b>) про современные технологии, их влияние на нашу жизнь, и прочие мысли.</p>
        <p>
          <a class="link-ext" href="https://t.me/techlifepodcast" rel="external">&nbsp;t.me/techlifepodcast&nbsp;</a><br>
          <a class="link-ext" href="mailto:talk@techlifepodcast.com" rel="external">&nbsp;talk@techlifepodcast.com&nbsp;</a>
        </p>
        <div class="spacer-md"></div>
        <div class="spacer-lg"></div>
      </div>

      <div class="col-lg-5 col-md-6">
        <p><b>Ведущие:</b><br> Дмитрий Здоров и Василий Мязин.</p>
      </div>

      <div class="col-lg-3 col-md-12">
        <p>Слушать прямо тут.<br>
          Найти в <b><a href="https://itunes.apple.com/podcast/tehnologii-i-zizn/id1013700516?mt=2">iTunes</a></b> и <b><a href="https://overcast.fm/itunes1013700516">Оvercast</a></b>.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 m-t-2">
      <div id="episode-details">
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>
